# Core Deep Learning - Your version
torch==2.7.1+cu118
torchvision==0.22.1+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

# Essential CV
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==11.0.0

# Training essentials
tqdm==4.67.1
PyYAML==6.0.2

# Experiment tracking (W&B)
wandb==0.24.0
python-dotenv==1.0.1

# Data versioning (DVC)
dvc==3.58.0
dvc-gdrive==3.0.1